apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: scylladb
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: git@github.com:psaawkel/fluodata-infrastructure.git
    targetRevision: HEAD
    path: kubernetes/base/scylladb
  destination:
    server: https://kubernetes.default.svc
    namespace: scylla
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 5m
