apiVersion: scylla.scylladb.com/v1
kind: ScyllaCluster
metadata:
  name: scylla
  namespace: scylla
spec:
  version: "5.4"
  agentVersion: "3.3.0"
  # Required on Talos: immutable OS cannot satisfy ScyllaDB kernel tuning
  developerMode: true
  datacenter:
    name: dc1
    racks:
      - name: rack2
        members: 3
        storage:
          storageClassName: local-path
          capacity: 15Gi
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: "1"
            memory: 1Gi