apiVersion: scylla.scylladb.com/v1
kind: ScyllaCluster
metadata:
  name: scylla
  namespace: scylla
spec:
  datacenter:
    racks:
      - name: rack1
        members: 0
        storage:
          storageClassName: local-path
          capacity: 10Gi
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: "1"
            memory: 1Gi
      - name: rack2
        members: 3
        storage:
          storageClassName: local-path
          capacity: 15Gi
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: "1"
            memory: 1Gi
      - name: rack3
        members: 0
        storage:
          storageClassName: local-path
          capacity: 12Gi
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: "1"
            memory: 1Gi
