apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: {{ argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ _argocd_git_repo }}
    targetRevision: HEAD
    path: kubernetes/clusters/{{ _argocd_cluster_dir }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
