apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: scylladbdatacenters.scylla.scylladb.com
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  group: scylla.scylladb.com
  names:
    plural: scylladbdatacenters
    singular: scylladbdatacenter
    kind: ScyllaDatacenter
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
    subresources:
      status: {}
