# Worker common patch
# - Disable default CNI (we use Cilium)
# - Disable kube-proxy (Cilium replaces it)
# - Kernel modules for Longhorn
# - Worker node label
# - Kubelet serving cert rotation
# - Network sysctls
cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
machine:
  kernel:
    modules:
      - name: iscsi_tcp
      - name: dm_thin_pool
  kubelet:
    extraArgs:
      rotate-server-certificates: "true"
  nodeLabels:
    node-role.kubernetes.io/worker: ""
  sysctls:
    net.core.somaxconn: "65535"
    net.core.netdev_max_backlog: "4096"
  time:
    servers:
      - time.cloudflare.com
      - pool.ntp.org
