apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wg-easy-data
  namespace: wireguard
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
